.root {
    align-items: center;
    display: flex;
    gap: var(--gap-6);
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}
